<div class="contribuir-opciones">
  {{#each donaciones}}
    <div class="opcion">
      <h3>{{metodo}}</h3>
      <img src="{{imagen}}" alt="{{alt}}">
      <p>{{mensaje}}</p>
      <a href="{{enlace}}" class="button" target="_blank">Donar Ahora</a>
    </div>
  {{/each}}
</div>