{{#each eventoSlide}}
<section class="slide">
    <picture>
        <img src="{{imgEventoSlide}}" alt="{{altEventoSlide}}" />
    </picture>
    <h2>{{slideEventoh2}}</h2>
    <div class="contenedor">
        <h3>{{lugarSlide}}<br>{{fechaSlide}}</h3>
        <a href="{{linkEvento}}" target="_blank">Mas Informacion</a>
    </div>
</section>
{{/each}}