    {{#each eventoNuevo}}

<div class="eventoNuevo">
        <img src="{{imgNuevoEvento}}" alt="{{altNuevoEvento}}">
        <div class="contenidoEventoNuevo">
            <h3>{{nuevoEventoh3}}</h3>
            <p>{{fecha}} <br>{{hora}}</p>
            <p>{{lugar}}</p>
            <p>{{descripcionNuevo}}</p>
            <a href="contactanos.html#formulario">Inscribirse</a>
        </div>
</div>
    {{/each}}
