{{#each noticiaSlide}}
<section class="slide">
    <picture>
        <img src="{{imgNoticiaSlide}}" alt="{{altNoticiaSlide}}" />
    </picture>
    <h2>{{slideNoticiah2}}</h2>
    <div class="noticia-contenido">
        <h3>{{lugarSlide}}<br>{{fechaSlide}}</h3>
        <a href="{{linkNoticia}}" target="_self">Mas Informacion</a>
    </div>
</section>
{{/each}}