<section class="articulos">
  {{#each blog}}
  <article>
      <h2>{{titulo}}</h2>
      <img src="{{imagen}}" alt="{{alt}}" class="article-image">
      <p>{{resumen}}</p>
      <div class="more-content">
          <p>{{contenido}}</p>
      </div>
      <button class="toggle-btn">Leer más</button>
  </article>
  {{/each}}
</section>
